<footer class="footer" role="contentinfo">
    <div class="footer__grid">

        <div class="footer__row footer__logo">
            <a href="{{ section.settings.logo_link }}" rel="home"></a>
        </div>

        {% if section.settings.enable_newsletter %}
            {% include 'footer-newsletter' %}
        {% endif %}

        <div class="footer__row footer__categories">
            <div class="title">{{ section.settings.menu_title_1 }}</div>

            {% assign footer_menu_1 = section.settings.menu_1 %}
            {% include 'footer-menu', with footer_menu: footer_menu_1 %}
        </div>

        <div class="footer__row footer__services">
            <div class="title">{{ section.settings.menu_title_2 }}</div>
           
            {% assign footer_menu_2 = section.settings.menu_2 %}
            {% include 'footer-menu', with footer_menu: footer_menu_2 %}
        </div>

        <div class="footer__row footer__social">
            <div class="title">{{ section.settings.menu_title_3 }}</div>
            <ul>
                <li>
                    <a href="{{ section.settings.facebook_link }}" target="_blank" rel="noopener noreferrer" class="social_link facebook">
                        <span class="icon"><i class="icon-facebook"></i></span>
                        <span class="text">facebook</span>
                    </a>
                </li>
                <li>
                    <a href="{{ section.settings.twitter_link }}" target="_blank" rel="noopener noreferrer" class="social_link twitter">
                        <span class="icon"><i class="icon-twitter"></i></span>
                        <span class="text">twitter</span>
                    </a>
                </li>
                <li>
                    <a href="{{ section.settings.instagram_link }}" target="_blank" rel="noopener noreferrer" class="social_link instagram">
                        <span class="icon"><i class="icon-instagram"></i></span>
                        <span class="text">instagram</span>
                    </a>
                </li>
                <li>
                    <a href="{{ section.settings.youtube_link }}" target="_blank" rel="noopener noreferrer" class="social_link youtube">
                        <span class="icon"><i class="icon-youtube"></i></span>
                        <span class="text">youtube</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__row footer__magazine">
            <div class="title">{{ section.settings.menu_title_4 }}</div>
            <a href="{{ section.settings.magazine_link }}" target="_blank" rel="noopener noreferrer">
                <div class="magazine-cover">
                    <img
                        class="lazy inner"
                        data-src="{{ section.settings.magazine_image | img_url: '' }}"
                        data-srcset="{{ section.settings.magazine_image | img_url: '' }}"
                        alt="{{ section.settings.menu_title_4 }}"/>
                </div>
            </a>
        </div>
        <div class="footer__row footer__copyright">
            <p>{{ section.settings.footer_copyright }}</p>
        </div>
    </div>
</footer>