<div class="header__wrapper" data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
  <header class="site-header" id="site-header" role="banner">
      <section class="navigation">
        <div class="navigation__centered">
          <button class="navigation__toggle" data-toggle-mobile-nav><span></span></button>
          <a href="{{ section.settings.logo_url }}" rel="home" class="navigation__logo">Golf Logo</a>
          <nav id="site-navigation" class="main-navigation" role="navigation">
              <div class="navigation__mobile">
                  <button class="navigation__toggle" data-toggle-mobile-nav><span></span></button>
                  <a href="{{ section.settings.logo_url }}" rel="home" class="navigation__logo">Golf Logo</a>
              </div>
              {% assign main_menu = section.settings.main_menu %}
              {% include 'main-menu', with: main_menu %}
          </nav>
          <a href="/" target="_blank" rel="noopener noreferrer" class="subscribe-desk">Subscribe</a>
          <a href="/account" class="navigation__account">Account</a>
          <a href="/cart" class="navigation__cart">Cart</a>
        </div>
      </section>
  </header>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "url",
      "id": "logo_url",
      "label": "Logo Link"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main Menu"
    }
  ]
}
{% endschema %}
